@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --white: #fafafa;
  --dark: #212121;
  --silver: #777777;

  --green: #22fec8;
}

html,
body {
  font-family: "Nunito", sans-serif;
  min-width: 100vw;
  min-height: 100vh;

  display: flex;
  font-size: 16px;
  color: var(--dark);

  background-image: radial-gradient(
    circle farthest-corner at 92.3% 71.5%,
    rgba(83, 138, 214, 1) 0%,
    rgba(134, 231, 214, 1) 90%
  );

  scroll-behavior: smooth;
}

#app {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: var(--dark);
}

.headers-main {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 50px;
  background-color: var(--white);
  padding: 0 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  box-shadow: 0 0 3px 0 var(--dark);
}

.main {
  margin-top: 55px;
  margin-bottom: 55px;
}

.footers-main {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 50px;
  background-color: var(--white);
  padding: 0 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  box-shadow: 0 0 3px 0 var(--dark);
}

.action-router {
  display: flex;
}

.action-router span {
  font-size: 22px;
}

.h__m-logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.h__m-logo i {
  font-size: 28px;
}
.h__m-logo span {
  font-size: 22px;
  font-weight: 800;
}

/*
*
  Home
*
*/
.home {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-boxs {
  width: 90vw;
  height: 46vh;

  box-shadow: 0 0 3px 0 var(--silver);
  border-radius: 8px;

  padding: 20px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

  gap: 20px;

  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.c__box {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  min-width: 120px;
  max-width: 120px;

  min-height: 120px;
  max-height: 120px;

  border-radius: 6px;
  box-shadow: 0 0 3px 0 var(--dark);

  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  cursor: pointer;
}

.c__box h4 {
  font-size: 14px;
  color: var(--silver);
}

.c__box i {
  font-size: 48px;
  color: var(--dark);
}

.c__box:active {
  box-shadow: inset 0 0 13px 0 var(--dark);
}

/*
*
  End Home
*
*/
